@media screen and (max-width: 375px) {
	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: rem;
		.darken_body {
			position: fixed;
			size: fill;
			height: 200vh;
			width: 100vw;
			background-color: rgb(0, 0, 0);
			opacity: 0%;
			transition: 0.5s opacity ease-in-out;
			// z-index: 2;
		}
		.darken_body.active {
			position: fixed;
			size: fill;
			height: 200vh;
			width: 100vw;
			background-color: rgb(0, 0, 0);
			opacity: 50%;
			z-index: 2;
		}
		.nav {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			.hamburger_menu {
				font-size: 2rem;
				z-index: 4;
				cursor: pointer;
			}
			&_links > img {
				margin: 1rem;
			}
			&_list {
				background: var(--white);
				font-weight: bold;
				height: 100vh;
				width: 50vw;
				position: absolute;
				padding-top: 4rem;
				top: 0rem;
				left: -12rem;
				padding-right: 2rem;
				padding-left: 1rem;
				transition: 0.4s all ease-in-out;
				z-index: 3;
			}
			&_list.active {
				background: var(--white);
				font-weight: bold;
				height: 100vh;
				width: 70vw;
				position: absolute;
				padding-top: 4rem;
				top: 0rem;
				left: 0rem;
				padding-right: 2rem;
				padding-left: 1rem;
				z-index: 3;
			}
			&_list_items {
				margin: 1rem;
				padding: 0.2rem;
				list-style-type: none;
				cursor: pointer;
			}
			#profile_icon {
				width: 30px;
			}
		}
	}
	.menus {
		margin: 0.5rem 1rem;
		padding: 1rem;
		z-index: 3;
		border-radius: 10px;
		position: absolute;
		width: 90vw;
		background: var(--white);
		.cart_menu {
			&_title {
				font-weight: bold;
				padding: 1rem 0;
				border-bottom: 1px solid var(--grayishBlue);
			}
			#cart_menu_img {
				width: 50px;
				border-radius: 5px;
				float: left;
				margin-right: 1rem;
			}
			#delete_icon {
				float: right;
				width: 20px;
			}
			&_product {
				padding: 1rem 0;
				color: var(--darkGrayishBlue);
				&_title {
				}
				&_pricing {
					&_single_price {
						display: inline;
					}
					&_quantity {
						display: inline;
					}
					&_total_price {
						display: inline;
						color: black;
						font-weight: bold;
					}
				}
			}
			#checkout_btn {
				background: var(--orange);
				color: var(--white);
				border: none;
				border-radius: 10px;
				width: 100%;
				font-weight: bold;
				font-size: 1rem;
				margin-top: 1rem;
				padding: 0.7rem;
			}
		}
	}
	.main {
		display: flex;
		flex-direction: column;
		.product_image {
			.main_img {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 1rem;
				transition: 1s all ease-in-out;
				#next_img_btn {
					position: relative;
					right: 54px;
					opacity: 40%;
				}
				#prev_img_btn {
					position: relative;
					left: 54px;
					opacity: 40%;
				}
				& > button {
					border: none;
					padding: 1rem 1.25rem;
					border-radius: 100px;
				}
				.product_img {
					padding: 0;
					margin: 0;
					display: flex;
					width: 100%;
					// margin: 1rem auto;
					// border-radius: 15px;
				}
			}
			.small_img {
				display: flex;
				.small_product_img {
					// display: flex;
					cursor: pointer;
					border-radius: 7px;
					margin: 0 auto;
					&:active {
						outline: 2px solid var(--orange);
						opacity: 15%;
					}
				}
			}
		}
		.product_text {
			padding: 2rem;
			.company_tagline {
				color: var(--orange);
				font-weight: bold;
			}
			.product_title {
				font-size: 2rem;
				font-weight: bold;
				margin: 1rem 0;
			}
			.product_desc {
				margin: 1rem 0;
				color: var(--darkGrayishBlue);
			}
			.product_price {
				// display: flex;
				// align-items: center;
				// justify-content: space-around;
				.product_price_final {
					display: inline;
					font-size: 1.5rem;
					font-weight: bold;
				}
				.product_price_discount {
					display: inline;
					font-weight: bold;
					padding: 0.2rem 0.3rem;
					border-radius: 5px;
					color: var(--orange);
					background: var(--paleOrange);
				}
				.product_price_original {
					display: inline;
					margin-left: 6rem;
					color: var(--grayishBlue);
					font-weight: bold;
					text-decoration-line: line-through;
				}
			}
			.product_buy {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				justify-content: center;
				gap: 1rem;
				padding-top: 2rem;
				&_quantity {
					border-radius: 10px;
					background: var(--lightGrayishBlue);
					display: flex;
					align-items: center;
					justify-content: space-around;
					&_increase {
						padding: 1rem;
						border: none;
						background: none;
						color: var(--orange);
						cursor: pointer;
					}
					&_decrease {
						padding: 1rem;
						bottom: 0.1875rem;
						position: relative;
						background: none;
						border: none;
						color: var(--orange);
						cursor: pointer;
					}
				}
				&_atc {
					background: var(--orange);
					border: none;
					border-radius: 10px;
					// width: 15rem;
					color: var(--white);
					font-weight: bold;
					padding: 1.2rem 1rem;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 1rem;
					cursor: pointer;
				}
			}
		}
	}
	footer {
		padding: 0 1rem;
		margin: 1rem auto;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: space-around;
		// background: #000;
		.attribution {
			font-size: 11px;
			text-align: center;
		}
		.attribution a {
			color: hsl(228, 45%, 44%);
		}
	}
}
