@media screen and (max-width: 376px) {
	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: rem;
		.nav {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			.hamburger_menu {
				font-size: 2rem;
				cursor: pointer;
			}
			&_links > img {
				margin: 1rem;
			}
			&_list {
				display: none;
			}
			&_list.active {
				display: block;
				background: var(--grayishBlue);
				border-radius: 10px;
				border: 2px solid;
				position: absolute;
				top: 5rem;
				left: 1rem;
				z-index: 2;
				transition: 2s ease-in-out;
			}
			&_list_items {
				margin: 1rem;
				padding: 0.2rem;
				list-style-type: none;
				cursor: pointer;
			}
			#profile_icon {
				width: 30px;
			}
		}
	}
	.main {
		display: flex;
		flex-direction: column;
		.product_image {
			.main_img {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 1rem;
				#next_img_btn {
					position: relative;
					right: 54px;
					opacity: 40%;
				}
				#prev_img_btn {
					position: relative;
					left: 54px;
					opacity: 40%;
				}
				& > button {
					border: none;
					padding: 1rem 1.25rem;
					border-radius: 100px;
				}
				.product_img {
					display: flex;
					width: 100vw;
					// margin: 1rem auto;
					// border-radius: 15px;
				}
			}
			.small_img {
				display: flex;
				.small_product_img {
					// display: flex;
					cursor: pointer;
					border-radius: 7px;
					margin: 0 auto;
					&:active {
						outline: 2px solid var(--orange);
						opacity: 15%;
					}
				}
			}
		}
		.product_text {
			padding: 2rem;
			.company_tagline {
				color: var(--orange);
				font-weight: bold;
			}
			.product_title {
				font-size: 2rem;
				font-weight: bold;
				margin: 1rem 0;
			}
			.product_desc {
				margin: 1rem 0;
				color: var(--darkGrayishBlue);
			}
			.product_price {
				// display: flex;
				// align-items: center;
				// justify-content: space-around;
				.product_price_final {
					display: inline;
					font-size: 1.5rem;
					font-weight: bold;
				}
				.product_price_discount {
					display: inline;
					font-weight: bold;
					padding: 0.2rem 0.3rem;
					border-radius: 5px;
					color: var(--orange);
					background: var(--paleOrange);
				}
				.product_price_original {
					display: inline;
					margin-left: 6rem;
					color: var(--grayishBlue);
					font-weight: bold;
					text-decoration-line: line-through;
				}
			}
			.product_buy {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				justify-content: center;
				gap: 1rem;
				padding-top: 2rem;
				&_quantity {
					border-radius: 10px;
					background: var(--lightGrayishBlue);
					display: flex;
					align-items: center;
					justify-content: space-around;
					&_increase {
						padding: 1rem;
						border: none;
						background: none;
						color: var(--orange);
						cursor: pointer;
					}
					&_decrease {
						padding: 1rem;
						bottom: 0.1875rem;
						position: relative;
						background: none;
						border: none;
						color: var(--orange);
						cursor: pointer;
					}
				}
				&_atc {
					background: var(--orange);
					border: none;
					border-radius: 10px;
					// width: 15rem;
					color: var(--white);
					font-weight: bold;
					padding: 1.2rem 1rem;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 1rem;
					cursor: pointer;
				}
			}
		}
	}
	footer {
		padding: 0 1rem;
		margin: 1rem auto;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: space-around;
		// background: #000;
		.attribution {
			font-size: 11px;
			text-align: center;
		}
		.attribution a {
			color: hsl(228, 45%, 44%);
		}
	}
}
