@import "mobile";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
}
body {
	// background: #000;
	font-family: "Kumbh Sans", sans-serif;
}
:root {
	--orange: hsl(26, 100%, 55%);
	--paleOrange: hsl(25, 100%, 94%);
	--veryDarkBlue: hsl(220, 13%, 13%);
	--darkGrayishBlue: hsl(219, 9%, 45%);
	--grayishBlue: hsl(220, 14%, 75%);
	--lightGrayishBlue: hsl(223, 64%, 98%);
	--white: hsl(0, 0%, 100%);
	-lightblack: hsl(0, 0%, 0%);
}
@media only screen and (min-width: 375px) and (max-width: 1920px) {
	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: rem;
		border-bottom: 1px solid var(--darkGrayishBlue);
		.nav {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			.hamburger_menu {
				display: none;
			}
			&_links > img {
				margin: 1rem;
			}
			&_list {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				gap: 1.5rem;
			}
			&_list_items {
				list-style-type: none;
				cursor: pointer;
			}
			#profile_icon {
				width: 50px;
			}
		}
	}
	.menus {
		.cart_menu {
			display: none;
			margin: 0.5rem 1rem;
			padding: 1rem;
			z-index: 1;
			right: 17rem;
			top: 5rem;
			border-radius: 10px;
			position: absolute;
			width: 30vw;
			box-shadow: -1px -1px 20px var(--grayishBlue);
			// top: -21rem;
			background: var(--white);
			transition: 4s display ease-in-out;
			.cart_menu_title {
				font-weight: bold;
				padding: 1rem 0;
				border-bottom: 1px solid var(--grayishBlue);
			}
			#cart_menu_img {
				width: 50px;
				border-radius: 5px;
				float: left;
				margin-right: 1rem;
			}
			#delete_icon {
				float: right;
				width: 20px;
			}
			.cart_menu_product {
				padding: 1rem 0;
				color: var(--darkGrayishBlue);
				&_pricing {
					&_single_price {
						display: inline;
					}
					&_quantity {
						display: inline;
					}
					&_total_price {
						display: inline;
						color: black;
						font-weight: bold;
					}
				}
			}
			#checkout_btn {
				background: var(--orange);
				color: var(--white);
				border: none;
				border-radius: 10px;
				width: 100%;
				font-weight: bold;
				font-size: 1rem;
				margin-top: 1rem;
				padding: 0.7rem;
			}
		}
		.cart_menu.active {
			display: block;
			position: absolute;
		}
	}
	.main {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 4rem auto;
		width: 100vw;
		// flex-wrap: wrap;
		flex-basis: 50vw;
		.product_image {
			display: flex;
			flex-direction: column;
			padding: 4rem 4rem;
			.main_img {
				margin-bottom: 1rem;
				max-width: 350px;
				& > button {
					display: none;
				}
				.product_img {
					width: 100%;
					border-radius: 15px;
				}
			}
			.small_img {
				max-width: 350px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 1rem;
				.small_product_img {
					cursor: pointer;
					border-radius: 7px;
					// margin: 0 1.125rem;
				}
			}
		}
		.product_text {
			flex-basis: 30vw;
			// padding-right: 10rem;
			.company_tagline {
				color: var(--orange);
				font-weight: bold;
			}
			.product_title {
				font-size: 3rem;
				font-weight: bold;
				margin: 1rem 0;
			}
			.product_desc {
				margin: 2rem 0;
				color: var(--darkGrayishBlue);
			}
			.product_price {
				.product_price_final {
					display: inline;
					font-size: 1.5rem;
					font-weight: bold;
				}
				.product_price_discount {
					display: inline;
					font-weight: bold;
					padding: 0.2rem 0.3rem;
					border-radius: 5px;
					color: var(--orange);
					background: var(--paleOrange);
				}
				.product_price_original {
					color: var(--grayishBlue);
					font-weight: bold;
					text-decoration-line: line-through;
				}
			}
			.product_buy {
				display: flex;
				gap: 1rem;
				padding-top: 2rem;
				&_quantity {
					border-radius: 10px;
					padding: 0.6rem 1rem;
					width: 10rem;
					background: var(--lightGrayishBlue);
					display: flex;
					align-items: center;
					justify-content: space-around;
					&_increase {
						border: none;
						background: none;
						color: var(--orange);
						cursor: pointer;
					}
					&_decrease {
						bottom: 0.1875rem;
						position: relative;
						background: none;
						border: none;
						color: var(--orange);
						cursor: pointer;
					}
				}
				&_atc {
					background: var(--orange);
					border: none;
					border-radius: 10px;
					width: 15rem;
					color: var(--white);
					font-weight: bold;
					padding: 0.6rem 1rem;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 1rem;
					cursor: pointer;
				}
			}
		}
	}
	footer {
		padding: 0 1rem;
		margin: 1rem auto;
		display: flex;
		align-items: center;
		justify-content: space-around;
		// background: #000;
		.attribution {
			font-size: 11px;
			text-align: center;
		}
		.attribution a {
			color: hsl(228, 45%, 44%);
		}
	}
}
